In [1]:
#all data wrangling

#imports
import os
import glob
import pandas as pd
import random
import numpy as np
from datetime import datetime
import csv
import seaborn as sns; sns.set()
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans,DBSCAN
from sklearn.preprocessing import StandardScaler, Normalizer

import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import BaggingRegressor, RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.externals.six import StringIO
import subprocess

#file folder
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#rename columns
combined_csv.columns = combined_csv.columns.map(lambda x: x.replace(" ","_"))
combined_csv.columns = combined_csv.columns.map(lambda x: x.replace("\n",""))
#standardize neighborhood tags
combined_csv['NEIGHBORHOOD'] =  combined_csv['NEIGHBORHOOD'].replace(' ', '', regex=True)
#grosss square feet
combined_csv['GROSS_SQUARE_FEET'] =  combined_csv['GROSS_SQUARE_FEET'].replace(' ', '', regex=True).replace('-', '', regex=True).replace(',', '', regex=True)
combined_csv['GROSS_SQUARE_FEET'].replace('', np.nan, inplace=True)
combined_csv.dropna(subset=['GROSS_SQUARE_FEET'])
combined_csv['GROSS_SQUARE_FEET'] =  combined_csv['GROSS_SQUARE_FEET'].astype(float)
#sale price
combined_csv['SALE_PRICE'] =  combined_csv['SALE_PRICE'].replace(' ', '', regex=True).replace('-', '', regex=True).replace(',', '', regex=True).replace('[\$,]', '', regex=True)
combined_csv['SALE_PRICE'].replace('', np.nan, inplace=True)
combined_csv.dropna(subset=['SALE_PRICE'])
combined_csv['SALE_PRICE'] =  combined_csv['SALE_PRICE'].astype(float)
#residential
combined_csv['RESIDENTIAL_UNITS'] =  combined_csv['RESIDENTIAL_UNITS'].replace(',', '', regex=True).replace('-', '', regex=True).replace(' ', '', regex=True)
combined_csv['RESIDENTIAL_UNITS'].replace('', np.nan, inplace=True)
combined_csv['RESIDENTIAL_UNITS'] =  combined_csv['RESIDENTIAL_UNITS'].astype(float)
#commercial
combined_csv['COMMERCIAL_UNITS'] =  combined_csv['COMMERCIAL_UNITS'].replace(',', '', regex=True).replace('-', '', regex=True).replace(' ', '', regex=True)
combined_csv['COMMERCIAL_UNITS'].replace('', np.nan, inplace=True)
combined_csv['COMMERCIAL_UNITS'].fillna(0, inplace=True)
combined_csv['COMMERCIAL_UNITS'] =  combined_csv['COMMERCIAL_UNITS'].astype(float)
#yearbuilt 
combined_csv['YEAR_BUILT'] =  combined_csv['YEAR_BUILT'].replace(',', '', regex=True).replace('-', '', regex=True).replace(' ', '', regex=True)
combined_csv['YEAR_BUILT'].replace('', np.nan, inplace=True)
combined_csv['YEAR_BUILT'] =  combined_csv['YEAR_BUILT'].astype(float)
#create year column
combined_csv['SALE_DATEadj'] = pd.to_datetime(combined_csv['SALE_DATE'])
combined_csv['SALE_YEAR'] = combined_csv['SALE_DATEadj'].dt.year
#counter
combined_csv['counter'] = 1

combined_csv.dropna(subset=['ZIP_CODE'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:29: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,ADDRESS,APARTMENT_NUMBER,BLOCK,BOROUGH,BUILDING_CLASS_AS_OF_FINAL_ROLL_17/18,BUILDING_CLASS_AS_OF_FINAL_ROLL_18/19,BUILDING_CLASS_AT_PRESENT,BUILDING_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_CATEGORY,COMMERCIAL_UNITS,...,TAX_CLASS_AS_OF_FINAL_ROLL_17/18,TAX_CLASS_AS_OF_FINAL_ROLL_18/19,TAX_CLASS_AT_PRESENT,TAX_CLASS_AT_TIME_OF_SALE,TOTAL_UNITS,YEAR_BUILT,ZIP_CODE,SALE_DATEadj,SALE_YEAR,counter
0,96 AVENUE B,,402,1,NaN,NaN,S1,S1,01 ONE FAMILY DWELLINGS,1.0,...,NaN,NaN,1,1,2,1901.0,10009,2014-12-05,2014,1
1,17 AVENUE D,,372,1,NaN,NaN,S2,S2,02 TWO FAMILY DWELLINGS,1.0,...,NaN,NaN,1,1,3,1910.0,10002,2014-01-31,2014,1
2,243 EAST 7TH STREET,,377,1,NaN,NaN,C0,C0,03 THREE FAMILY DWELLINGS,0.0,...,NaN,NaN,1,1,3,1899.0,10009,2014-11-26,2014,1
3,300 EAST 2ND STREET,,372,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2.0,...,NaN,NaN,2B,2,10,1920.0,10009,2014-07-18,2014,1
4,324 EAST 4TH STREET,,373,1,NaN,NaN,D1,C3,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,11,1920.0,10009,2014-05-30,2014,1
5,285 EAST 3RD STREET,,373,1,NaN,NaN,C3,C3,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,4,1900.0,10009,2014-08-05,2014,1
6,273 EAST 7TH STREET,,377,1,NaN,NaN,C5,C5,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2B,2,8,1900.0,10009,2014-10-16,2014,1
7,271 EAST 7TH STREET,,377,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10009,2014-11-03,2014,1
8,271 EAST 7TH STREET,,377,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10009,2014-07-30,2014,1
9,271 EAST 7TH STREET,,377,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10009,2014-04-28,2014,1
10,271 EAST 7TH STREET,,377,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10009,2014-04-28,2014,1
11,271 EAST 7TH STREET,,377,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10009,2014-02-26,2014,1
12,253 EAST 7TH STREET,,377,1,NaN,NaN,C3,C3,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,4,1920.0,10009,2014-08-13,2014,1
13,132 AVENUE C,,378,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2.0,...,NaN,NaN,2,2,24,1900.0,10002,2014-01-31,2014,1
14,129 AVENUE D,,378,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,2.0,...,NaN,NaN,2,2,14,1910.0,10009,2014-03-13,2014,1
15,143 AVENUE D,,379,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1.0,...,NaN,NaN,2,2,18,1920.0,10009,2014-03-31,2014,1
16,226 EAST 3RD STREET,,385,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,3.0,...,NaN,NaN,2,2,17,1900.0,10009,2014-12-04,2014,1
17,27 AVENUE C,,385,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1.0,...,NaN,NaN,2,2,25,1910.0,10009,2014-09-08,2014,1
18,240 EAST 2ND STREET,,385,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,24,1910.0,10009,2014-08-25,2014,1
19,279 EAST 4TH STREET,,387,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,12,1900.0,10009,2014-12-23,2014,1
20,277 EAST 4TH STREET,,387,1,NaN,NaN,C1,C1,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,13,1920.0,10009,2014-12-23,2014,1
21,218 EAST 7TH STREET,,389,1,NaN,NaN,C2,C2,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2A,2,5,1900.0,10002,2014-01-31,2014,1
22,604 EAST 9TH STREET,,391,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,20,1910.0,10009,2014-07-01,2014,1
23,327 EAST 8TH STREET,,391,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2,2,12,1900.0,10002,2014-01-31,2014,1
24,169 AVENUE B,,393,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1.0,...,NaN,NaN,2B,2,10,1900.0,10002,2014-01-31,2014,1
25,171 AVENUE B,,393,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1.0,...,NaN,NaN,2B,2,10,1900.0,10002,2014-01-31,2014,1
26,173 AVENUE B,,393,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,1.0,...,NaN,NaN,2B,2,10,1900.0,10002,2014-01-31,2014,1
27,630 EAST 11TH STREET,,393,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2B,2,10,1900.0,10009,2014-03-31,2014,1
28,169 AVENUE C,,393,1,NaN,NaN,C7,C7,07 RENTALS - WALKUP APARTMENTS,2.0,...,NaN,NaN,2B,2,10,1920.0,10009,2014-06-04,2014,1
29,391 EAST 10TH STREET,,393,1,NaN,NaN,C4,C4,07 RENTALS - WALKUP APARTMENTS,0.0,...,NaN,NaN,2B,2,7,1900.0,10002,2014-01-31,2014,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17011,105 BENNETT AVENUE,53A,2180,1,NaN,R4,NaN,R4,13 CONDOS - ELEVATOR APARTMENTS,0.0,...,NaN,2,NaN,2,1,1939.0,10033,2018-12-21,2018,1
17012,105 BENNETT AVENUE,66B,2180,1,NaN,R4,NaN,R4,13 CONDOS - ELEVATOR APARTMENTS,0.0,...,NaN,2,NaN,2,1,1939.0,10033,2018-12-13,2018,1
17013,659 WEST 179 STREET,NaN,2163,1,NaN,O2,NaN,O2,21 OFFICE BUILDINGS,3.0,...,NaN,4,NaN,4,3,1900.0,10033,2018-02-13,2018,1
17014,311-19 AUDUBON AVENUE,NaN,2152,1,NaN,K2,NaN,K2,22 STORE BUILDINGS,7.0,...,NaN,4,NaN,4,7,1910.0,10033,2018-11-13,2018,1
17015,4468-4474 BROADWAY,NaN,2170,1,NaN,K2,NaN,K2,22 STORE BUILDINGS,7.0,...,NaN,4,NaN,4,7,1991.0,10040,2018-02-22,2018,1
17016,505 WEST 181ST STREET,NaN,2155,1,NaN,H3,NaN,H3,26 OTHER HOTELS,53.0,...,NaN,4,NaN,4,53,2009.0,10033,2018-06-29,2018,1
17017,552 WEST 182 STREET,NaN,2154,1,NaN,G9,NaN,G9,29 COMMERCIAL GARAGES,1.0,...,NaN,4,NaN,4,1,1990.0,10033,2018-05-09,2018,1
17018,4650 BROADWAY,NaN,2175,1,NaN,G1,NaN,G1,29 COMMERCIAL GARAGES,3.0,...,NaN,4,NaN,4,3,1928.0,10040,2018-10-16,2018,1
17019,4650 BROADWAY,NaN,2175,1,NaN,G1,NaN,G1,29 COMMERCIAL GARAGES,3.0,...,NaN,4,NaN,4,3,1928.0,10040,2018-04-17,2018,1
17020,203 CABRINI BOULEVARD,NaN,2179,1,NaN,V1,NaN,V1,31 COMMERCIAL VACANT LAND,0.0,...,NaN,4,NaN,4,0,0.0,0,2018-09-04,2018,1
17021,205 CABRINI BOULEVARD,NaN,2179,1,NaN,V1,NaN,V1,31 COMMERCIAL VACANT LAND,0.0,...,NaN,4,NaN,4,0,0.0,0,2018-09-04,2018,1
17022,207 CABRINI BOULEVARD,NaN,2179,1,NaN,V1,NaN,V1,31 COMMERCIAL VACANT LAND,0.0,...,NaN,4,NaN,4,0,0.0,0,2018-09-04,2018,1
17023,RIVERSIDE DRIVE,NaN,2179,1,NaN,V1,NaN,V1,31 COMMERCIAL VACANT LAND,0.0,...,NaN,4,NaN,4,0,0.0,10033,2018-08-30,2018,1
17024,569 WEST 183RD STREET,NaN,2154,1,NaN,N9,NaN,N9,38 ASYLUMS AND HOMES,1.0,...,NaN,4,NaN,4,1,1920.0,10032,2018-06-29,2018,1
17025,160 WADSWORTH AVENUE,105,2164,1,NaN,RB,NaN,RB,43 CONDO OFFICE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17026,736 WEST 187 STREET,PRK22,2180,1,NaN,RG,NaN,RG,44 CONDO PARKING,1.0,...,NaN,4,NaN,4,1,2003.0,10033,2018-09-13,2018,1
17027,4260 BROADWAY,COMM1,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17028,4260 BROADWAY,COMM2,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17029,4260 BROADWAY,COMM3,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17030,4260 BROADWAY,COMM4,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17031,4260 BROADWAY,COMM5,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17032,4260 BROADWAY,COMM6,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17033,4260 BROADWAY,COMM7,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17034,4260 BROADWAY,COMM8,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17035,4260 BROADWAY,COMM9,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17036,4260 BROADWAY,COM10,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17037,4260 BROADWAY,COM11,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17038,4260 BROADWAY,COM12,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17039,4260 BROADWAY,COM13,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1
17040,4260 BROADWAY,COM14,2164,1,NaN,RK,NaN,RK,46 CONDO STORE BUILDINGS,1.0,...,NaN,4,NaN,4,1,0.0,10033,2018-08-03,2018,1

In [2]:
#new building purchases
combined_csv['SALE_YEAR'] =  combined_csv['SALE_YEAR'].astype(float)

combined_csv['NEW'] = combined_csv['YEAR_BUILT'] - combined_csv['SALE_YEAR']

combined_csv['NEW'] = combined_csv['NEW'].abs() < 3

In [3]:
#add decade of year built
minYear=1870
maxYear=2020

minDecade = np.floor_divide(minYear,10)*10 #5
maxDecade = np.floor_divide(maxYear,10)*10 #6

allDecades = np.arange(minDecade,maxDecade+10,10)

combined_csv["DECADE_BUILT"] = pd.cut(combined_csv.YEAR_BUILT,allDecades) #10

In [4]:
#exports scrubbed data

combined_csv.to_csv('data\REdata.csv', sep='*')